body {
  font-family: 'Mulish', sans-serif;
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 70%;
  }
}

.container {
  border-right: solid 1px #eaeaea;
  border-left: solid 1px #eaeaea;
}

.small-txt {
  color: #9a9a9a;
  font-size: 12px
}

.small-thick {
  color: #5F5F5F;
  font-size: 12px
}

.txt-18 {
  font-size: 18px;
}

.txt-14 {
  font-size: 14px;
}

.action-card {
  background: #FFFFFF;
  border: 1px solid #9A9A9A;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px 15px;
  margin-top: 10px;
}

.small-drop {
  color: #2196F3;
}

.small-drop:hover {
  cursor: pointer;
}

.small-danger {
  color: #EA3F4F;
}